{{> Partials/Header }}
<h1>EDIT POST</h1>
<h1>{{payload.title}}</h1>
<form action="{{ path 'post/{id}' payload.id }}" method="POST" id="edit-post-form">
        <input type="hidden" name="method" value="PUT">
        <textarea  name="content" rows="4" cols="50" name="content">{{payload.content}}</textarea>
        <button>Edit Post</button>
        
</form>

{{>Partials/Footer }}