{{> Partials/Header }}

<form action="{{path 'auth/login'}}" method="POST" id="login-form">
 {{#if cookies}}
<input type="text" name="email" id="email" value={{cookies.email}}>
  <input type="text" name="password" id="password" value={{cookies.password}}>
  <input type="checkbox" name="remember" value="remember" checked="checked">
{{else}}
  <input type="text" name="email" id="email" placeholder="Enter email">
  <input type="text" name="password" id="password" placeholder="Enter password">
  <input type="checkbox" name="remember" value="remember">
  {{/if}}
  
  <button>login</button>
</form>

{{>Partials/Footer }}